$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;

$body-font-family: Arial, sans-serif;
$body-font-size: 15px;
$body-font-weight: $font-weight-normal;

$font-baron-bold: 		'baron_neue_boldbold';
$font-baron-regular: 	'baron_neueregular';




